
.container {
    width: 960px;
    min-height: 400px;
    margin: 0 auto;
    border: 3px dashed orange;
}

li {
    /* display: inline; */        /* width, height 적용이 안 됨 */
    display: inline-block;  /* width, height 적용 됨 */
    /* inline       : 크기를 가지지 않고, 한 줄에 나란히 배치 */
    /* block        : 크기를 가지면서, 한 줄 전체를 차지하면서 배치 */
    /* inlin-block  : 크기를 가지면서, 한 줄에 나란히 배치 */
    width: 150px;
    height: 50px;
    line-height: 50px;
    padding: 10px 20px;
    text-align: center;
}

li:hover {
    background-color: #ddd;
    cursor: pointer;
}

/* 화면에 보이지 않게 지정 */
.none { display: none; }
.hidden { visibility: hidden; }

/* 요소를 생성 > 랜더링 > 출력 */
/* 
    display: none;
    - 화면에 요소 자체가 생성되지 않는다.
      레이아웃에 영향을 미치지 않는다.

    visibility: hidden;
    - 요소를 생성하지만 랜더링하지 않는다.
      레이아웃에 영향을 미친다.
*/

/* grid */
.grid-container {
    display: grid;
    /*  Grid 레이아웃으로 컨테이너를 지정 */
                          /* 1열  2열  3열  */
    /* grid-template-columns 
       :Grid 레이아웃의 열의 크기를 지정하는 속성 */                      
    grid-template-columns: auto auto auto;
    background-color: royalblue;
    padding: 10px;
}

.item {
    background-color: lightblue;
    border: 1px solid black;
    padding: 20px;
    text-align: center;
}

.item img { width: 100%; }


/* flex */
.row {
    display: flex;
    flex-wrap: wrap;
    /* 아이템들의 줄바꿈 여부를 지정하는 속성 */
    padding: 0 4px; 
}

.col {
    width: calc( 100% / 3 );
    padding: 0 4px;
    box-sizing: border-box;
}

.col img {
    width: 100%;
    margin-top: 8px;
    vertical-align: middle;
}