* {margin: 0;padding: 0;}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: cornflowerblue;
    overflow: hidden;
}

/* 스피너 정가운데 위치하도록 지정 */
.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

.spinner {
    width: 100px;
    height: 100px;
    border: 3px solid rgba(255, 255, 255, 0.4);
    border-top-color: white;
    border-radius: 50%;
    /* spin은 애니메이션으로 지정해준 이름 */
    animation: spin 1s ease-in-out infinite;
}

/* spin의 폰트색상이 바뀐 의미 : 연결되었다는 뜻 */
@keyframes spin {
    100% { transform: rotate(360deg);}
}